/* Reset Styles */
* {
  font-family: "Montserrat", "sans-serif";
  margin: 0;
  padding: 0;
}

/* Body Styles */
html,
body {
  width: 100vw;
  height: 100%;
  /* min-height: 100%; */
  overflow-x: hidden;
  background-color: rgba(var(--bs-dark-rgb)) !important;
  color: white;
}

/* Additional Customised Bootstrap Styles */
.navbar-nav .nav-link {
  font-weight: bold;
}

/* Header Styles */

/* Main Styles */
main {
  width: 100%;
  overflow: auto;
  padding-bottom: 40px;
  min-height: 309px;
}

/* Footer Styles */
footer {
  position: relative;
  margin-top: -40px;
  clear: both;
  display: flex;
  align-items: center;
  background-color: var(--bs-secondary);
  min-height: 40px;
}

footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
}
